html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* focus outlines */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Ensure page fills viewport and footer does not cover content */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* main area grows and leaves room for footer */
main {
  flex: 1 0 auto;
  padding-bottom: 0.5rem;
}

/* reserve space so footer won't overlap */
footer {
  flex-shrink: 0;
}